*{
    margin: 0;
}
i{
  font-size: 30px;
  padding-right: 10px;
}
.topnav {
  
    background-color:#4481eb;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    justify-content: space-between;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    padding: 14px 25px 14px 0;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
  }
  .topnav img{
    justify-content: center;
    padding-left: 15px;
    width: 5cm;
    height: 1.5cm;
    border-radius: 5%;
  }
  /* Change the color of links on hover */
  .topnav a:hover {
    box-shadow: 5%;
    color: #230ee2;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      z-index: 1;
      display: block;
    }
  }
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  