.about{ background-color: #e0f7fa;
}
   
.abt{
    text-align: center;
    justify-content: center;
    color:  #4481eb;
    padding-top: 10px;

}
.abt1{
display: flex;
}
.abt1 ul li{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}
.abt1 ul{
    font-size: 20px;
    font-weight: 200;
}
.abt1 img{
    height: 10cm;
    width: 30cm;
}
.abt1 li{
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.last{
    padding: 15px;
}
.last h3{
    font-size: 25px;
}
