* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
   justify-items: center;
}

.one {
    padding: 20px;
    width: 100%;
    text-align: center;
}

.one-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    justify-content: center; /* Centers content horizontally */
}

.one-content p {
    flex: 1;
    font-size: 1.25rem; /* Adjusted for better visibility */
    line-height: 1.5;
    color: rgb(0, 0, 0);
    text-align: justify;
}

.one-content img {
    width: 100%;
    max-width: 60vh;
}

.animated-text {
    font-size: 2rem; /* Adjusted for better visibility */
    color: #0072ee;
    margin-bottom: 20px;
}

.list {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    gap: 1rem; /* Increased gap for better spacing */
    list-style-type: none;
    justify-content: center; /* Centers the cards horizontally */
    padding: 0; /* Removes default padding */
}

.item {
    position: relative;
    width: 250px;
    margin-bottom: 20px;
    aspect-ratio: 3/4;
    border-radius: 0.5rem;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s, background-color 0.5s;
    border: rgb(37, 144, 186) solid;
    background-color: #fff;
}

.item a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; /* Ensures no underlines on links */
    color: inherit; /* Ensures text color is inherited */
}

.item:hover {
    transform: scale(1.5);
    background-color: #4481eb; /* Blue hover effect */
}

.item:hover ~ .item {
    transform: perspective(500px) rotateY(-45deg) scale(0.95);
}

.item:nth-of-type(1) { background-image: url('https://static.vecteezy.com/system/resources/previews/009/455/210/original/mechanical-engineer-logo-logo-and-identity-designs-vector.jpg'); }
.item:nth-of-type(2) { background-image: url('https://media.istockphoto.com/id/958800720/vector/health-care-logo-vector-design-element.jpg?s=612x612&w=0&k=20&c=Hl7evi3l3hHwXSyESk5UhqU1BheZWdtaCoPkHihjeJM='); }
.item:nth-of-type(3) { background-image: url('https://www.a-p-a.net/content/uploads/2020/11/artssciences.png'); }
.item:nth-of-type(4) { background-image: url('https://img.freepik.com/premium-vector/agriculture-logo-design-service_799306-79.jpg'); }
.item:nth-of-type(5) { background-image: url('https://img.freepik.com/premium-vector/lawyer-icon-justice-scales-vector-emblem_8071-18391.jpg'); }

